
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="control-label" for="field_includesExcavation">Includes Excavation</label>
            <input type="checkbox" class="form-control" name="includesExcavation" id="field_includesExcavation"
                    ng-model="vm.project.includesExcavation"
                     />
        </div>
        <div class="form-group" ng-show="vm.project.includesExcavation">
            <label class="control-label" for="field_excavationDescription">Describe the size of the excavation, including the number of holes and the length, width and depth of each.</label>
            <input type="text" class="form-control" name="excavationDescription" id="field_excavationDescription"
                    ng-model="vm.project.excavationDescription"
                     />
        </div>
        <! -- TODO - relate this to a more appropriate field on the database -->
        <div class="form-group" ng-show="vm.project.includesExcavation">
            <label class="control-label" for="field_excavationPermitNumber">What is the bore of the pipe that the excavation relates to?</label>
            <input type="text" class="form-control" name="excavationPermitNumber" id="field_excavationPermitNumber"
                    ng-model="vm.project.excavationPermitNumber"
                     />
        </div>

    </div>