
        <div class="form-group">
            <label class="control-label" for="field_projectName">Project Name</label>
            <input type="text" class="form-control" name="projectName" id="field_projectName"
                    ng-model="vm.project.projectName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_projectDescription">Project Description</label>
            <input type="text" class="form-control" name="projectDescription" id="field_projectDescription"
                    ng-model="vm.project.projectDescription"
                     />
        </div>        
        <div class="form-group">
            <label class="control-label" for="field_workSiteType">Public or Private Job Site?</label>
            <select class="form-control" name="workSiteType" ng-model="vm.project.workSiteType" id="field_workSiteType">
                <option value="PUBLIC">PUBLIC</option>
                <option value="PRIVATE">PRIVATE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_streetAddress">Street Address</label>
            <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                    ng-model="vm.project.streetAddress"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.project.city"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.project.state"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_zipCode">Zip Code</label>
            <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                    ng-model="vm.project.zipCode"
                     />
        </div>
