
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.done()">&times;</button>
        <h2 class="modal-title" id="myCityLicensesLabel">PermitMe! <small>Focus on the work, not the paperwork.</small></h2>
    </div>
    <div class="modal-body">
    
    	<dl>
    		<dt>Less typing</dt>
    		<dd>Enter your contracting business information once. PermitMe will use it
    		on all your permit applications.</dd>
    		<br/>
    		<dt>Permit smarts</dt>
    		<dd>Answer a few questions about your project. PermitMe will figure out the permits you need
    		to apply for.</dd>
    		<br/>
    		<dt>Print and go</dt>
    		<dd>Once you're finished, just print. The project package will have all
    		the permit applications you need, as well as instructions on how to submit them.</dd>
    		<br/>
    		<dt>Track your permits</dt>
    		<dd>Record approvals (and permit numbers) in PermitMe to see the permit status of your projects at a glance.</dd>
    	</dl>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.done()">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Got it</span>
        </button>
    </div>
</form>
